
inge/\.idea/

\.DS_Store

*.xml

*.iml

inge/target/classes/com/Control/Control\.class

inge/target/classes/com/view/app\$2\.class

inge/target/classes/com/view/app\$3\.class

inge/target/classes/com/view/app\$4\.class

inge/target/classes/com/view/CompanySettings\$1\.class

inge/target/classes/com/view/Search\$1\.class

inge/target/classes/com/view/Search\$2\.class

inge/target/classes/com/view/Search\$3\.class

inge/target/classes/com/view/Search\$4\.class

inge/target/classes/com/view/Search\$5\.class

inge/target/classes/com/view/UserSettings\$1\.class

inge/target/classes/com/view/UserSettings\$2\.class

inge/target/classes/com/view/UserSettings\$3\.class
